.home-page {
  width: 100vw;
  height: calc(100vh - 53px - 50px);

  color: orange;
  text-align: center;
}

.home-page h1 {
  margin-block-start: 50px;
  margin-block-end: 0;
  margin-bottom: 50px;
}